<h2>Product</h2>
<form (ngSubmit)="createProduct()" #f="ngForm">
  <div class="form-group">
    <label for="title">Product Title</label>
    <input type="text" class="form-control" id="title" name="title" ngModel placeholder="Title">
  </div>
  <div class="form-group">
    <label for="description">Product Description</label>
    <input type="text" class="form-control" id="description" name="description" ngModel placeholder="Description">
  </div>
  <div class="form-group">
    <label for="price">price</label>
    <input type="number" class="form-control" id="price" name="price" ngModel placeholder="Price">
  </div>
  <div class="form-group">
    <label for="vendorUID">Vendor UID</label>
    <input type="text" class="form-control" id="vendorUID" name="vendorUID" ngModel placeholder="Vendor UID">
  </div>
  <div class="form-group">
    <label for="imageURL">Image URL</label>
    <input type="text" class="form-control" id="imageURL" name="imageURL" ngModel placeholder="Image URL">
  </div>
  <div class="row">
    <div class="col-md-1">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dietaries
        </button>
        <div class="dropdown-menu">
          <a *ngFor="let dietaryType of availableDietaryTypes" (click)="dietaryTypeSelected($event)" id="{{ dietaryType.id }}" class="dropdown-item">{{ dietaryType.name }}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul>
        <li class="horizontal-elements" *ngFor="let diet of selectedDietaryTypes"><a id="{{ diet.id }}" (click)="removeDietaryType($event)">{{ diet.name }}</a></li>
      </ul>
    </div>
  </div>
  <button style="margin-top: 10px;" type="submit" class="btn btn-success">Submit</button>
</form>
