<h2>Products</h2>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="row" style="margin-top:10px; margin-left: 5px;">
        <div class="col-md-8">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Search Term</span>
            </div>
            <input  [(ngModel)]="searchTermInput" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" [checked]="searchTitle == true" name="flexRadioDefault"
            (change)="toggleSearchTitle($event)" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Title
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" [checked]="searchTitle == false"  name="flexRadioDefault"
            (change)="toggleSearchDescription($event)" id="flexRadioDefault2" >
            <label class="form-check-label" for="flexRadioDefault2">
              Description
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <button (click)="searchInvoke()" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Dietary Types</th>
            <th scope="col">Vendor</th>
            <th scope="col">Views Count</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th  scope="row">{{ product.id }}</th>
            <td><a [routerLink]="['/products/edit/'+product.id]" >{{ product.title }}</a></td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>
              <ul >
                <li id="diet-list" *ngFor="let diet of product.dietaryTypes">{{ diet.name }}</li>
              </ul>
            </td>
            <td>{{ product.vendorUID }}</td>
            <td>{{ product.viewsCount }}</td>
            <td><button id="{{ product.id }}" (click)="deleteProduct($event)" class="btn btn-danger">X</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-3 offset-9">
            <ul class="pagination">
              <li *ngFor="let item of createRange(startPage , endPage)" class="page-item" [ngClass]="{'active': item == page}">
                <a id="page-{{ item }}" (click)="navigatePaging(item)" class="page-link">{{item}}</a>
              </li>
            </ul>
        </div>
      </div>
  </div>
</div>
